<h1>{{title}}</h1>

<div class="container">
    <br>
    <div class="col-3">
      <div class=" input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Number 1</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="number1" name="number1">
      </div>
    </div>
    
    <div class="col-3">
      <div class="input-group mb-3 col">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Number 2</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="number2" name="number2">
      </div>
    </div>
    Sum <input value="sum" type="radio" name="radioOpe" (click)="operation($event)">
    Rest <input value="rest" type="radio" name="radioOpe" (click)="operation($event)">
    Mult <input value="mult" type="radio" name="radioOpe" (click)="operation($event)">
    Div <input value="div" type="radio" name="radioOpe" (click)="operation($event)">
    
    <div class="col 6">
      <input type="number" disabled="true" placeholder={{result}}>
    </div>
</div>



